

body {



color: black;
background-color:lightgrey;

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 200;
  -webkit-column-count: 5; /* Old Chrome, Safari and Opera */
  -moz-column-count: 5; /* Old Firefox */
  column-count: 5;
  font-size: .5vw;
}





@media print {


  body{


color: black;
background-color:lightgrey;

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 200;
  -webkit-column-count: 5; /* Old Chrome, Safari and Opera */
  -moz-column-count: 5; /* Old Firefox */
  column-count: 5;
  font-size: .5vw;
  }


}


}




li {
    display: block;
    color:white;
    margin-left: 0;




 
}
li a {color:orangered;
	} 



li a:hover{ 

color:blue; 
transition:all 0.5s ease-in-out;


}

ul{
display: none;
padding-left: 40vw;
position: fixed;
top:3.4vw;
}




h1{

font-weight: 400;
color:green;
text-decoration: underline;


}

html{ scroll-behavior: smooth;}


p{  margin: 0;
    padding-bottom: 0;





}

    ol p{  color:orangered;}

    ol{  padding-left: 40vw;
position: fixed;
bottom:1.4vw;
}